---
import Layout from '../layouts/Layout.astro';
import Parser from 'rss-parser';

const parser = new Parser();

const sevenDaysAgo = new Date();
sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);

const feedSources = [
  'https://feeds.npr.org/1003/rss.xml', // NPR National
  'https://feeds.npr.org/1004/rss.xml', // NPR World
  'https://feeds.npr.org/1006/rss.xml', // NPR Business
  'https://feeds.npr.org/1007/rss.xml', // NPR Science
  'https://feeds.npr.org/1014/rss.xml', // NPR Politics
  'https://feeds.npr.org/1019/rss.xml', // NPR Tech
  'https://feeds.npr.org/1025/rss.xml', // NPR Environment
  'https://feeds.npr.org/1026/rss.xml', // NPR Space
  'https://feeds.npr.org/1032/rss.xml', // NPR Books
  'https://feeds.npr.org/1054/rss.xml', // NPR Gardening
  'https://feeds.npr.org/1053/rss.xml', // NPR Food
  'https://feeds.npr.org/1124/rss.xml', // NPR Europe
  'https://feeds.npr.org/1125/rss.xml', // NPR Asia
  'https://feeds.npr.org/1126/rss.xml', // NPR Africa
  'https://feeds.npr.org/1127/rss.xml', // NPR Latin America
]

interface FeedItem {
  feed?: string;
  title?: string;
  description?: string;
  link?: string;
  date: Date;
  formattedDate?: string;
}

const feedItems: FeedItem[] = [];

await Promise.allSettled(
  feedSources.map(async (source) => {
    try {
      const feed = await parser.parseURL(source);
      feed.items.forEach((item) => {
        const date = item.pubDate ? new Date(item.pubDate) : undefined;
        if (date && date >= sevenDaysAgo) {
		  const fDate = date.toLocaleDateString('en-US');
          feedItems.push({
            feed: feed.title,
            title: item.title,
			description: item.description,
            link: item.link,
			date,
            formattedDate: fDate
          });
        }
      });
    } catch (error) {
      console.error(`Error fetching feed from ${source}:`, error);
    }
  })
);

const uniqueItems = feedItems.filter((item, index, array) => {
	return array.findIndex(p => p.title === item.title) === index;
});

const sortedFeedItems = uniqueItems.sort((a, b) => (b.date ?? new Date()).getTime() - (a.date ?? new Date()).getTime())

// TODO:
// * open item in a modal on same page so I don't have to click between tabs
// * make page look better...bg image? color? mono font, ...?

---

<Layout title="NPR Feeds">
  <main>
	<table>
		{sortedFeedItems.map(item => (
			<tr>
				<td class="date">{item.formattedDate}</td>
				<td class="topic">{item?.feed?.substring(12)}</td> {/* handling NPR-specific feed names */}
				<td class="link"><a href={item.link} target="_blank">{item.title}</a></td>
			</tr>
		))}
	</table>
  </main>
</Layout>

<style>
	body {
  		font-family: 'JetBrains Mono Variable', monospace;
  		background-image: url('../assets/icon-bg.jpg');
	}
	main {
		display: flex;
		justify-content: center;
	}
	table {
		display: flex;
		justify-content: center;
		margin: 25px 0;
		background: beige;
		padding: 25px;
		opacity: .80;
		border: 3px solid rgb(199, 199, 179);
	}

	.date {
		width: 100px;
	}
	.topic {
		width: 150px;
		text-align: right;
		font-weight: 800;
	}
	.link {
		padding-left: 25px;
	}
</style>