---
import Layout from '../layouts/Layout.astro';
import Parser from 'rss-parser';
import { Image } from 'astro:assets';
import rssIcon from '../assets/rss-icon.svg';
import { feedSources } from '../store.js';

const parser = new Parser();

const sevenDaysAgo = new Date();
sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);

interface FeedItem {
  feed?: string;
  category?: string;
  title?: string;
  description?: string;
  link?: string;
  date: Date;
  formattedDate?: string;
  formattedTime?: string;
}

const feedItems: FeedItem[] = [];
const feedNames: string[] = [];

await Promise.allSettled(
  feedSources.map(async (source) => {
    try {
      const feed = await parser.parseURL(source[2]);
	  feedNames.push(source[0]);
      feed.items.forEach((item) => {
        const date = item.pubDate ? new Date(item.pubDate) : undefined;
        if (date && date >= sevenDaysAgo) {
		  const fDate = date.toLocaleDateString('en-US');
		  const fTime = date.toLocaleTimeString('en-US');
          feedItems.push({
			feed: source[0],
            category: source[1],
            title: item.title,
			description: item.description,
            link: item.link,
			date,
            formattedDate: fDate,
			formattedTime: fTime,
          });
        }
      });
    } catch (error) {
      console.error(`Error fetching feed from ${source}:`, error);
    }
  })
);

const uniqueItems = feedItems.filter((item, index, array) => {
	return array.findIndex(p => p.title === item.title) === index;
});

const sortedFeedItems = uniqueItems.sort((a, b) => (b.date ?? new Date()).getTime() - (a.date ?? new Date()).getTime())

const uniqueFeedNames = feedNames.filter((item, index) => feedNames.indexOf(item) === index).sort();

// TODO:
// * open item in a modal on same page so I don't have to click between tabs

---

<Layout title="RSS">

	<div id="slideout">
		<Image src={rssIcon} alt="RSS icon" class="icon"/>
		<div id='current'></div>
		<div id="slideout_inner">
			<ul>
				{uniqueFeedNames.map(item => (
					<li>{item}</li>
				))}
			</ul>
		</div>
	</div>

	<main>
		<div class="wrapper">
		{sortedFeedItems
			.map(item => (
				<div class="item" data-feed={item.feed}>
					<div class="date">{item.formattedDate}<span class="time">({item.formattedTime})</span></div>
					<div class="topic">{item.category || ''}</div>
					<div class="link"><a href={item.link} target="_blank">{item.title}</a></div>
				</div>
			))}
		</div>
	</main>
</Layout>

<script>
	import { currentFeed } from '../store.js';

	function setCurrentFeed(feed:string): void {
		window.scrollTo({top: 0, behavior: 'smooth'});
		currentFeed.set(feed);
	}

	const elArray = document.querySelectorAll('li');
	elArray.forEach((e) => {
		const feedName = e.innerHTML;
		e.addEventListener('click', () => setCurrentFeed(feedName))
	});

	currentFeed.subscribe((feed: string) => {
		const allRows = document.querySelectorAll('div.item');
		allRows.forEach((el) => el.classList.remove('show'));
		const rows = document.querySelectorAll(`div[data-feed=${feed}]`);
		rows.forEach((el) => el.classList.add('show'));
		const el = document.getElementById("current")!;
		el.innerHTML = feed;
	});
</script>

<style>
	html::-webkit-scrollbar { display: none; }
	body {
  		font-family: 'JetBrains Mono Variable', monospace;
  		background-image: url('../assets/icon-bg.jpg');
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
	}
	body::-webkit-scrollbar {
  		display: none;
	}

	a:link {
		color: #666;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
		color: #000;
	}
	a:visited {
		color: #FFA500
	}
	.icon {
		width: 32px;
		height: 32px;
		padding: 5px;
	}
	main {
		display: flex;
		justify-content: center;
		margin: 0 50px 50px 50px;
		background: lightblue;
		border-radius: 25px;
		border: 5px solid #fff;

	}
	.wrapper {
		width: 100%;
		padding: 25px;
	}

	.item {
		width: inherit;
		display: none;
	}
	.show {
		display: grid;
		grid-template-columns: 200px 150px 1fr;
	}
	.date {
		width: inherit;
		grid-column-start: 1;
		font-size: 0.9rem;
	}
	.time {
		width: inherit;
		font-size: 0.7rem;
		font-style: italic;
	}
	.topic {
		width: inherit;
		grid-column-start: 2;
		font-size: 0.9rem;
		font-weight: 600;
	}
	.link {
		width: inherit;
		grid-column-start: 3;
	}

	/* "mobile second" for this site */
	@media only screen and (max-width: 992px) {
		.show {
			grid-template-columns: 100px 1fr;
		}
		.link {
			grid-column-start: 2;
		}
		.time,
		.topic {
			display: none;
		}
	}


/* slide out styles */
	#slideout {
		z-index: 1;
		position: fixed;
		top: 33px;
		left: 0;
		width: 45px;
		height: 139px;
		background: #FFA500;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	#slideout_inner {
		background: #f90;
		position: fixed;
		top: 33px;
		left: -160px;
		width: 160px;
		/* padding: 25px; */
		height: auto;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		cursor: pointer;
		border-bottom-right-radius: 20px;
	}
	#slideout:hover {
		left: 157px;
	}
	#slideout:hover #slideout_inner {
		left: 0;
	}
	#current {
		transform: rotate(-90deg);
    	top: 44px;
    	position: relative;
		color: #fff;
	}
	ul {
		list-style: none;
		color: #fff;
	}
	li:hover {
		color: #ddd;
	}
</style>